.contact-section {
  background-color: #fff;
}

.contact-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.btn-orange {
  background-color: #ff5f2e;
  color: white;
  font-weight: 600;
  border: none;
}

.btn-orange:hover {
  background-color: #e14c1e;
}

.info-box {
  background-color: #ff5f2e;
  padding: 20px;
  border-radius: 10px;
}
